{{> enTete}}
{{> menu}}
<h1>Ajouter une ville</h1>
{{#if ajouter}}
<p><img src="/image/valid.png"> La ville "<b>{{ ville }}</b>" a été ajoutée</p>
{{else}}
<form method="post" action="/ajouterVille" name="ajoutVille">
<table>
    <tr>
        <td>
            Nom
        </td>
        <td>
            <input type="text" name="nomVille" id="nomVille" required>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Valider">
        </td>
    </tr>
</table>
</form>
{{/if}}