{{> enTete}}
{{> menu}}
<h1>Ajouter une ville</h1>
<form method="post" action="/insertVille" name="ajoutVille">
    Nom : <input type="text" name="nomVille" id="nomVille"> <br>
    <input type="submit" value="Valider">
</form>