{{> enTete}} {{> menu}}
<h1>Noter une citation</h1>
{{#if noter}}
<p><img src="/image/valid.png"> La citation a bien notée</p>
<a href="/listerCitation">Revenir à la liste</a>
{{else}}
<form method="post" action="/noterCitation/{{this.idCitation}}" name="noteCitation">
    <table>
        <tr>
            <td>
                Note
            </td>
            <td>
                <input type="number" name="note" min="0" max="20" placeholder="De 0 à 20" required>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Valider">
            </td>
        </tr>
    </table>
</form>
{{/if}}